# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/release-key.jks
android/build/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Local deploy tooling
node_modules/
.wrangler/
